<h1>RULES!!!</h1>

<p>If you don't know the rules then off ye go!!</p>
<p>bye, bye!! Nah just kidding!</p>

<p>So <b>Rock</b> beats <b>Scissors</b>
<p><b>Scissors</b> beats <b>Paper</b>
<p><b>Paper</b> beats <b>Rock</b></p>
<p>And 2 of the same is a draw</p>
<p>You are now an expert well done!!</p>
